<div id="programme-pace">
  <div class="pace-option" data-target="quote.pace">
    <div class="sessions-input string optional quote_number_of_sessions" data-action="change->quote#computeHoursAndSessions">
      <input class="form-control string optional" placeholder="20" type="text" name="quote[number_of_sessions]" id="quote_number_of_sessions_0">
      <p>sessions de</p>
    </div>
    <div class="duration-input select optional quote_hours_by_sessions" data-action="change->quote#computeHoursAndSessions">
      <select class="form-control select optional" name="quote[hours_by_sessions]" id="quote_hours_by_sessions_0">
        <option value="1">1</option>
        <option value="1.25">1.25</option>
        <option selected="selected" value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
      </select>
      <p>heures</p>
    </div>
    <div class="add-pace-option" data-action="click->quote#addPaceOption">
      <i class="fa fa-plus-circle"></i>
    </div>
  </div>
</div>



