<div id="programme-timeslots">
  <div class="timeslots-option" data-target="quote.time">
    <div class="timing-selector start">
      <p>À</p>
      <input class="form-control string optional timepicker" data-action="change-> quote#computeTimeSlots" type="text" name="quote[hour_start_at[0]]" id="quote_hour_start_at_0">
    </div>
    <div class="add-pace-option" data-action="click->quote#addTimeOption">
      <i class="fa fa-plus-circle"></i>
    </div>
  </div>
</div>



