<div id="package-frequency">
  <div class="form-group select optional quote_classes">
    <select class="form-control select optional" data-action="change->quote#computeFrequency" name="quote[classes]" id="quote_classes">
      <option value=""></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
  </div>
  <p>sessions par</p>
  <div class="form-group select optional quote_period">
    <select class="form-control select optional" data-action="change->quote#computeFrequency" name="quote[period]" id="quote_period">
      <option value=""></option>
      <option value="jour">jour</option>
      <option value="semaine">semaine</option>
      <option value="mois">mois</option>
    </select>
  </div>
</div>
