<div class="footer">
  <p>
    © Novexpat SAS · 58 rue de la Fontaine au Roi 75011 Paris<br/>
    Tel : +33 6 77 02 71 98 · Site : <%= link_to "www.novexpat.com", "https://www.novexpat.com" %><br/>
    Date d’impression : <%= l((@contract.sign_date - 1), format: "%d %B %Y", locale: 'fr') %>
  </p>
  <img src="https://res.cloudinary.com/pywagon/image/upload/v1524043053/logo_svg_black_q4wxjz.svg">
</div>
