.turquoise {
  color: $turquoise;
}

.purple {
  color: $purple;
}

.blue {
  color: $blue;
}

#pdf-content {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 11.5px;
  margin: 0 auto;
  width: 21cm;
  font-weight: 300;
  i.fa {
    font-size: 17px;
    position: relative;
    width: 20px;
    top: 2px;
    color: $blue;
  }
}

.new-page {
  height: 28.7cm;
  page-break-before: always;
  padding: 15px 30px;
  position: relative;
}

.first-page {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#pdf-content h1 {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  color: $blue;
}

.contacts {
  position: absolute;
  bottom: 4%;
  padding: 0px 30px;
}


.logo {
  width: 50%;
  position: absolute;
  left: 10%;
  top: 5%;
}

.detail-card-title {
  font-weight: 600;
  padding-top: 5px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid black;
  td {
    border-collapse: collapse;
    border: 1px solid black;
  }
}


.article {
  padding: 10px 0px;
  text-align: justify;
}

.new-page.second-page table, .new-page.third-page table {
  tr > td:first-child {
    width: 20%;
    padding-left: 10px;
    font-weight: bold;
  }
  tr > td:last-child {
    text-align: left;
    padding: 5px 15px;
  }
  ul {
    padding-left: 15px;
    list-style: square;
    margin-bottom: 0px;
  }
}

#included {
  font-style: italic;
  text-align: right;
  font-weight: 300;
  padding-right: 15px;
}

.signature {
  margin-top: 30px;
  position: relative;
}
.new-page.third-page .signature table {
  margin-top: 30px;
  border: none;
  tr > td:first-child, tr > td:last-child {
    width: 50%;
    font-weight: 300;
    padding-left: 0px;
    text-align: left;
    border: none;
  }
  tr > td:last-child {
    padding-left: 100px;
  }
  td > p:first-child {
    margin-bottom: 0px;
  }
  tr > td:last-child {
    padding-top: 0px;
  }
}

#fab-signature {
  width: 90px;
  position: absolute;
  right: 125px;
  z-index: 1;
}

#tampon {
  width: 30%;
  position: absolute;
  right: 80px;
  bottom: -140px;
  transform: rotateZ(-5deg);
}

#pdf-content .footer {
  position: absolute;
  bottom: 0px;
  font-size: 8px;
  right: 20%;
  img {
    position: absolute;
    right: -60%;
    width: 57px;
    top: -1px;
  }
  p {
    right: -50px;
    position: relative;
    margin-bottom: 0px;
  }
}

#pdf-content .header {
  position: absolute;
  top: 5px;
  font-size: 8px;
  text-align: right;
  left: 0;
  right: 0;
  padding-right: 35px;
  color: $heavy-gray;
}
