<h1>Welcome on Nice !</h1>
<h3>Please, select the programme to start generating a contract</h3>

<ul>
  <li><%= link_to "FrenchBooster Programme", frenchbooster_path %></li>
  <li><%= link_to "1-on-1", cpi_path %></li>
</ul>


<%= link_to "See All contracts", contracts_path %>

