<div class="container">
  <h1>Welcome on Nice !</h1>
  <h3>Please, select the programme to start generating a contract</h3>

  <ul>
    <li><%= link_to "FrenchBooster Programme", new_contract_path(code: "FBP") %></li>
    <li><%= link_to "1-on-1 French classes", new_contract_path %></li>
    <li><%= link_to "Evening French Classes", new_contract_path(code: "EFC") %></li>
  </ul>


  <%= link_to "See All contracts", contracts_path %>
</div>

