// Import page-specific CSS files here.
@import "show";
@import "new";


h3 {
  font-size: 16px;
  color: $turquoise-lt;
  border-bottom: 2px solid $blue-vt;
  padding-bottom: 5px;
  text-transform: uppercase;
  a {
    color: $turquoise-lt;
  }
  a:hover {
    color: $rose;
  }
}

